body {
    direction: rtl;
}

h1 {
    text-align: right;
}

h2 {
    text-align: center;
}

p {
    text-align: right;
}

h1, h2, h3, h4, h6, p {
    font-family: "IranSans";
}

.card {
    padding: 16px;
}

@font-face {
    font-family: "IranSans";
    src: url(/assets/IRANSansWebFaNum.ttf);
}